* {
    box-sizing: border-box;
}

div.header {
    padding: 30px;
    text-align: center;
    background-color: hsl(195, 53%, 79%);
}

#top {
    font-size: 1.2cm;
    font-family: "Lobster", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Arial", sans-serif;
}

.topnav {
    overflow: hidden;
    background-color: tomato;
}

.topnav a[target="head"] {
    float: left;
    display: block;
    color: #FFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right: 1px solid #FFFFFF;
}

.topnav a:hover {
    background-color: hsla(350, 100%, 88%, 100%);
    color: rgb(0,0,0);
}

.topnav a:active{
    background-color: rgba(255, 105, 180, 0.9);
    color: black;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: "Times New Roman", sans-serif;
    background-color: tan;
}

/* Sections are cards that style blocks of related text */
section {
    background-image: url("./docs/background-img.jpg");
    padding: 20px;
    margin-top: 0.21in;
}

@media screen and (max-width: 400px) {
    .topnav a{
        float: none;
        width: 100%;
    }
}

footer {
    text-align: center;
    padding: 20px;
    background-color: lightgreen;
    margin-top: 0.21in;
}

footer + a {
    color: darkblue;
}

footer + a:hover {
    color: rgb(75, 8, 151);
}

footer + a:active{
    color: white;
}

div > table {
    border-collapse: collapse;
    width: 100%;
}

div th, div td {
    text-align: left;
    padding: 8px;
    border: 1px solid black;
}

section ~ tr:hover {
    background-color: #ddd;
}

div th {
    background-color: black;
}

#book th {
    background-color: orange;
    color: black;
}

#book th, #book td {
    text-align: left;
    padding: 8px;
    border: 1px solid black;
}

#book {
    border-collapse: collapse;
    width: 100%;
}

#book tr:nth-child(even) {
    background-color: #f2f2f2;
}

#book tr:nth-child(odd) {
    background-color: white;
}
